
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.hoverRow:hover {
    background-color: #838080 !important;
}

.dropdown-menu {
    max-height: 100px;
}

